.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 2px solid #E5E4E2;
  flex: none;
  width: 50px;
  background: #f5f3f1;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  &_enabled {
    background: #50B987;
  }
  &_disabled {
    background: #ED6D6C;
  }
  //flex: 1;
  &_title {
     color: white;
     font-size: 16px;
    font-weight: 600;
  }
  &_sub_title {
    color: white;
    font-size: 11px;
    font-weight: 400;
  }
  &_empty_title {
    color: darkgrey;
    font-size: 14px;
    font-weight: 400;
  }
}
