.container {
  position: relative;
}

.text {
  max-height: 100%;
  overflow: hidden;
  word-break: break-all;
  transition: max-height 0.3s ease; // Плавный переход высоты

  &_hideLines {
    max-height: 40px; // Ограничение высоты для скрытия части текста
  }

  &_full {
    max-height: 1000px; // Достаточно большое значение для отображения всего текста
  }
}

.moreButton {
  cursor: pointer;
  color: #5BA2F2;
  display: flex;
  justify-content: center;
  margin-top: 10px; // Отступ сверху для разделения кнопки от текста
}
