.container {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info {
  margin-left: 20px;
}

.specialityTable, .procedureTable {
  margin-bottom: 20px;
}

.addButton {
  margin-bottom: 20px;
}
