.container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #5194C1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 50px;
  font-size: 13px;
  &_info {
    display: flex;
    gap: 20px;
    align-items: center;
    &_logo {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &_user {
      //max-width: 300px;
      //overflow: hidden;
      //text-overflow: ellipsis;
    }
  }
  &_action {
    display: flex;
    gap: 20px;
    align-items: center;
    &_address {
      &_select {
        .ant-select-selector {
          .ant-select-selection-item {
            color: green !important;
          }
        }
      }
    }
    &_logout {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
