.container {
  border-bottom: 2px solid #E5E4E2;
  width: 240px;
  flex: none;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  align-items: center;
  padding: 5px;
  &_count {
    color: lightgray;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 500;
  }
  &_info {
    display: flex;
    align-items: center;
    gap: 5px;
    &_title {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_calendar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
