.container {
  width: 250px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  height: 100%;

  &_title {
    color: #85827f !important;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
